body {
  text-align: center;
  background-color: #000000;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgb(255, 255, 0);
  border-radius: 20%;
}

.game-over {
  background-color: rgb(18, 14, 75);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.pressed {
  box-shadow: 0 0 20px rgb(255, 0, 125);
  background-color: grey;
}
